@font-face {
    font-family: 'globerbold';
    src: url(../assets/fonts/Glober_Bold.otf) format('otf');
  }
 @font-face {
    font-family: 'globersemibold';
    src: url(../assets/fonts/Glober_SemiBold.otf) format('otf');
  }

$bg-color: #ffffff;
$font-main: 'globerbold', sans-serif;
$font-custom: 'globersemibold', sans-serif;
$link-color: #008ba4;
$footer-link-color: #848484;
$header: #000000;
$tap: #54b8cd;
$enable-shadows: true;
$box-shadows: -1px 0px 13px 0px rgba(100,100,100,0.75) !important;

.shadow {
    box-shadow: $box-shadows;
}

body {
    background: $bg-color;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $link-color;
}

h1 {
    color: $header;
    font-size: 1.5em;
    padding-left: 10px;

    span {
        color: $tap;
    }
}

h2 {
    font-size: 1.56em;
    font-weight: bold;
    margin-bottom: 2px;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;
    color: $link-color;
    margin-bottom: 0;
    font-family: $font-custom;
}

div span img {
    padding-left: 10px;
    margin-right: 5px;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 0.5em;
    padding-right: 5px;
    padding-left: 5px;
  }
  div:nth-child(2)  p {    
      margin-bottom: 0.0rem;   
    }
  
  span:nth-child(1) {
      font-weight: bold;
      font-size: 1.4em;
      letter-spacing: 0px;
      word-spacing: -3px;    
}

  p span:nth-child(2) {
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0px;
    word-spacing: -3px;
    color: #54b8cd;       
}
  
  .talk {
    font-size: 16px;
    font-weight: 500;
  }
  .green-banner {
    background: url(../assets/intro-bg.jpg) no-repeat; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .video p {
      font-size: 1.3em;
      line-height: 1.25em;
      font-weight: 400;
      padding: 14px 0 15px 0;
  }

  .remove-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .percentage-off-bg {
    position: absolute;
    right: -35px;
    top: -37px;
    background: url(../assets/percentage.png) center;
    background-repeat: no-repeat;
    width: 76px;
    height: 76px;
    padding: 23px 0;
    color: #ffffff;
    font-weight: 700;
    background-size: 76px 76px;

        .percent {
            color: #ffffff;
            display: block;
            font-size: 1.155em;
            line-height: .75em;       
        }
    }

    .percentage-off-mp-bg {
        position: absolute;
        right: -35px;
        top: -55px;
        background: url(../assets/percentage.png) center;
        background-repeat: no-repeat;
        width: 76px;
        height: 76px;
        padding: 23px 15px 0 15px;
        color: #ffffff;
        font-weight: 700;
        background-size: 76px 76px;
    
            .percent-mp {
                color: #ffffff;
                display: block;
                font-size: 1.155em;
                line-height: .75em;       
            }
        }

  .currency:before {
    content: '\0024';
    font-size: .7em;
    font-family: $font-main;
    vertical-align: super;
   }

   .usd:after {
    content: "usd";
    display: inline-block;
    font-size: .50em;
    font-family: $font-main;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 2px;
    text-decoration: underline;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }

    .amount {
        font-size: 1.5em;
        font-family: $font-main;
    }

        .price-underline {
            font-family: $font-custom;
            font-size: .85em;

            span {
                background: url(../assets/price-highlight.png) center;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
            }
        }

        .atc-btn {
            width: 82%;
            color: #fff;
            background-color: #40ad4a;
            padding-left: 50px;
            border-color: #358f3d;
            -webkit-box-shadow: 0 8px 0 #358f3d, 0 8px 6px rgba(0,0,0,0.35);
            box-shadow: 0 8px 0 #358f3d, 0 8px 6px rgba(0,0,0,0.35);
            text-shadow: 0 -1px 1px rgba(41,41,44,0.35);            
        }

        .atc-btn:after {
            content: '\25BA';
            line-height: 1;
            margin: 0 -.5em 0 .5em;
            position: relative;
            right: auto;
        }

        .seal-img {
            position: absolute;
            left: 30px;
        }
        
        .blue-bg {
            margin-top: 0px;
            padding: 4px 10px 10px 10px;
            background-color: #008ba4;
            margin-bottom: 0px;
            text-align: center !important;
                .blue-header {
                    color: #ffffff;
                    font-size: .95em; 
                    letter-spacing: 2px;    
                }
        }

        .green-bg {
            background: url(../assets/leaf-table-bg.png) center;
            padding: 20px 20px 20px 20px;
        }
        .wp-image-62567 {
            max-width: 100%;
            height: auto;
        }











        
          /* Supplement facts */
          .supplement-facts span {
            font-size: 1em;
          }
            .supplement-facts td > p {
                margin-bottom: 1rem;
          }
          .supplement-facts {
            color: #000;
            border: 3px solid;
            padding: 6px;
            max-width: 445px;
            display: block;
            margin: auto;
            font-size: small;
            line-height: 1.4;
            font-weight: 700;
        }
        .supplement-facts table {
            border: none;
            color: #000;
            font-size: 18px;
        }
        .supplement-facts thead tr td {
            border-bottom: 16px solid;
        }
        .supplement-facts .amount-per-serving th {
            text-align: left;
            font-weight: 300;
            border-bottom: 8px solid;
            border-collapse: collapse;
            padding: 0;
        }
        .supplement-facts .extra-info td {
            border-top: 16px solid;
        }
        #title {
            color: #e47832;
            text-transform: capitalize;
            word-break: break-all;
            font-size: 1.7em;
        }

        /* As seen */
        .seen .card {
            border: none;
        }
        .as-seen-header {
            padding: 0.30rem 1.25rem;
            color: #ffffff;
            background: #4c813d;
        }
        .as-seen {
            flex: 1 1 auto;
            padding: .50rem;
                ul {
                    padding-left: 0px;
                    margin-top: 0.50em;
                    margin-bottom: 0rem;
                }
                    li {
                        vertical-align: top;
                        display: inline;
                        padding: 8px;
                        
                        img {
                            margin-bottom: 20px;
                        }
                }

            }

        div:nth-child(4) > div:nth-child(4) > div > div.card-body.as-seen > ul > li:nth-child(5)  {
            padding: 10px;
        }
        .seen .as-seen-header {
            border-radius: 0;
        }

        .sci-refs {
            
            h2 {
                color: #008ba4;
            }
            ol {
                padding: 10px 65px 10px 65px;
            }
                p {
                    text-align: center;
                        a {
                            text-decoration: underline;
                        }
                }
                
        }

        .footer {
            
            .footer-nav {
                padding: 0px;
            }
            li {
                vertical-align: top;
                display: inline;
                padding: 8px 0 8px 0;
                a {
                    color: $footer-link-color;
                    text-decoration: none;
                }
            }
        }


        @media (min-width: 1200px) { 
            .green-bg, #promos {
                margin-top: 20px;
            }
            .seen {
                text-align: center;
            }
        }



        @media (min-width: 991px) { 
            .video p {
                padding: 14px 0 0px 0;
            }
        }



        @media (min-width: 768px)  and(max-width: 990px) { 
            .col-md-4 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .video p {
                font-size: 1.125em;
                line-height: 1.25em;
                font-weight: 400;
                padding: 0px 0 0px 0;
            }
        }




        